.adminBody {
    min-height: 74vh; /* 최소 세로 높이를 화면의 80%로 설정 */
    width: 100%; /* 가로 폭을 100%로 설정 */
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 여백을 자동으로 설정 */
    padding: 20px; /* 내용과의 여백을 설정, 필요에 따라 조절 가능 */
    display: flex;
    font-family: 'TheJamsil5Bold';
}
.left {
    display: flex;
    flex-direction: column; /* 버튼을 세로로 배치 */
  }
  
.left-button {
    margin-bottom: 10px; /* 버튼 간의 간격 조절 */
  }
.right-table{
    margin-left: 25px;
    border: none;
}
.right-table-tr{
    display: flex;
    width: 1500px;  
}
.right-table td {
    margin-right: 10px; /* 우측 마진을 추가하여 간격 조절 */
    width:300px;
    border-bottom: solid 1px black;
  }
.adminBody button{

  color: white;
  background-color: skyblue;
  border: none;
}  
.adButton{
  margin-top: 10px;
  margin-right: 10px;
}
.pageButton {
  margin-right: 5px; /* 페이지 번호 간격 조정 */
  background-color: #fff; /* 기본 배경색 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  padding: 3px 8px; /* 내부 여백 조정 */
  cursor: pointer; /* 포인터 커서 설정 */
}

.pageButton.active {
  background-color: #0056b3; /* 현재 페이지 버튼 배경색 */
  color: #fff; /* 현재 페이지 텍스트 색상 */
}
.membereditbtn{
  margin-right: 10px;
}
