/* CalendarModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
  z-index: 1000; /* 상황에 맞게 조절 */
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1001; /* 상황에 맞게 조절 */
  width: 50%;

}

.modal-content h2 {
  color: #333;
}

.modal-content p {
  margin-top: 10px;
  color: #666;
}

.modal-content button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

/* Hover 효과 */
.modal-content button:hover {
  background: #0056b3;
}


/* 폼에 대한 스타일 */
.form-container {
  text-align: center;
}

.form-table {
  width: 100%;
  border-collapse: collapse;
}

.label,
.value {
  padding: 10px;
  border: 1px solid #ddd;
}

.label {
  font-weight: bold;
}

.input-field,
.textarea-field {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}


.color-picker-modal { 
  position: absolute;
  left: 0; /* 모달을 왼쪽에 위치시킵니다. */
  top: 0; /* 모달을 위에 위치시킵니다. */
  width: 220px; /* 모달의 너비를 조절하세요. */
  height: 418px;
  background-color: white; /* 모달의 배경색을 조절하세요. */
  border: 1px solid #ccc; /* 모달의 테두리 스타일을 조절하세요. */
  z-index: 1000; /* 모달이 다른 요소 위에 표시되도록 설정합니다. */
}

.updateColor-picker-modal {
  position: absolute;
  left: 0; /* 모달을 왼쪽에 위치시킵니다. */
  top: 0; /* 모달을 위에 위치시킵니다. */
  width: 220px; /* 모달의 너비를 조절하세요. */
  height: 510px;
  background-color: white; /* 모달의 배경색을 조절하세요. */
  border: 1px solid #ccc; /* 모달의 테두리 스타일을 조절하세요. */
  z-index: 1000; /* 모달이 다른 요소 위에 표시되도록 설정합니다. */
}

.updateColor-picker-buttons button {
  margin-top: 50px;
}

.colorBtn {
  text-align: left;
}

.submit-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 35%;
  
}

.submit-button:hover {
  background-color: #45a049;
}

.button-container {
  text-align: center;
}

.button-gap {
  margin-left: 10px;
}


