/* 전체 스타일 */
#chatt {
  font-family: 'TheJamsil5Bold';
  width: 500px;
  background-color: #ededed;
  margin: 50px auto;
  padding: 20px 10px;
  border-radius: 20px;
  /* box-shadow: 41px 41px 82px #c9c9c9, -41px -41px 82px #ffffff; */
}

/* input 기본 스타일 초기화 */
/*input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}*/

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* 타이틀 스타일 */
#chatt #title {
  font-size: 20pt;
  text-align: center;
  margin-bottom: 20px;
}

/* 대화창 스타일 */
#chatt #talk {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  border-radius: 18px;
  position: relative;
}

#chatt #talk .talk-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 대화 스타일 */
#chatt #talk div {
  width: 60%;
  display: block;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

#chatt #talk div.me {
  background-color: #ffc;
  margin: 0px 0px 20px calc(100% - 60%);
}

#chatt #talk div.other {
  margin: 20px 0px 2px 0;
}

/* 이름 스타일 */
#chatt #name {
  display: block;
  border: 1px solid #dcdcdc;
  background-color: #ededed;
  padding: 5px 2px;
  margin-top: 20px;
}

/* 전송 영역 스타일 */
#chatt #sendZone {
  margin-top: 10px;
  display: flex;
}

#chatt #sendZone #msg {
  width: 90%;
  height: 70px;
  display: block;
  resize: none;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  box-sizing: border-box;
}

#chatt #sendZone #btnSend {
  width: 10%;
  height: 70px;
  border: 1px solid #dcdcdc;
}

/* 채팅 메시지 스타일 */
.chat-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-message {
  margin-bottom: 10px;
}

.message-container {
    display: flex;
    align-items: flex-start; /* 상대방 이름을 메세지 상자 위에 표시하기 위해 변경 */
}

.chat-name {
    font-weight: bold;
    margin-right: 10px; /* 이름과 메시지 사이의 간격 조정 */
}

.chat-box {
    background-color: #e0e0e0;
    padding: 8px 12px;
    border-radius: 20px;
}

.message-time {
    color: #999;
    font-size: 0.8rem;
    margin-left: 10px; /* 시간을 메시지와 같은 줄에 표시하기 위해 왼쪽으로 이동 */
}

/* 보낸 메시지 스타일 */
.me-1 .chat-box {
    background-color: #dcf8c6; /* 보낸 메시지의 배경색 */
}

/* 받은 메시지 스타일 */
.other-1 .chat-box {
    background-color: #f0f0f0; /* 받은 메시지의 배경색 */
}

/* 새로 추가한 클래스 */
.chatt {
  /* 여기에 스타일 추가 */
}

.title {
  /* 여기에 스타일 추가 */
}

.talk {
  /* 여기에 스타일 추가 */
}

.msg-list {
  /* 여기에 스타일 추가 */
}

.send-zone {
  /* 여기에 스타일 추가 */
}

.msg-textarea {
  overflow-y: auto;
  resize: vertical;
  overflow-wrap: break-word;
  word-break: break-word;
}
.chat-name {
  white-space: nowrap; /* 줄바꿈 금지 */
  text-overflow: ellipsis; /* 넘친 내용에 대해 생략 부호 (...) 표시 */
}

.tx-small {
  white-space: nowrap;
}
