/* DetailModal.css */

.detailcustom-modal {
  display: none; /* 초기에는 숨겨진 상태 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 추가 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-family: 'TheJamsil5Bold';
}

.detailmodal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 모달의 폭을 조절할 수 있습니다. */
  border-radius: 8px; /* 모달의 모서리를 둥글게 만듭니다. */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과를 추가합니다. */
}

.detailmodal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.detailmodal-title {
  font-size: 20px;
  font-weight: bold; /* 제목을 두껍게 만듭니다. */
  color: #333; /* 제목 색상을 조절합니다. */
}

.detailclose {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #aaa; /* 닫기 아이콘 색상을 조절합니다. */
}

.detailclose:hover {
  color: #555; /* 마우스 오버 시 색상을 변경합니다. */
}

.detailmodal-body {
  padding: 20px;
}

.detailmodal-body table {
  width: 100%;
  border-collapse: collapse;
}

.detailmodal-body table td, .detailmodal-body table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.detailmodal-body table th {
  background-color: #f2f2f2;
}

.detailmodal-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.detailmodal-footer button {
  margin-left: 10px;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.detailmodal-footer .btn-secondary {
  background-color: #ddd;
}

.detailmodal-footer .btn-primary {
  background-color: #007bff;
  color: #fff;
}

.detailmodal-footer button:hover {
  opacity: 0.8;
}

.locationBtn {
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s; /* 부드러운 전환 효과를 위해 추가 */
}
.locationBtn:hover {
  background-color: #4da6ff; /* 밝은 파란색으로 변경 */
}

.locationMap-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.locationMap-content {
  background-color: #fff;
  padding: 20px;
  position: relative;
  z-index: 1001;
  border-radius: 5px;
  width: 100%; /* 원하는 넓이로 조절 */
  max-width: 600px; /* 최대 넓이 설정 (선택사항) */
}

.locationMap-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px; /* 원하는 위치로 조절 */
  right: 10px; /* 원하는 위치로 조절 */
  padding: 3px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.close-button:hover {
  background-color: #0056b3;
}
