@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  .Group {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; /* 가운데 정렬을 위해 */
  }
  
  .Group-div {
    font-size: 3vw; /* 반응형 폰트 크기 설정 */
    cursor: pointer;
    text-align: center;
    width: 20%;
    background-color: aqua;
    border-radius: 50px;
    font-family: 'CookieRun-Regular';
  }
  
  .category {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; /* 가운데 정렬을 위해 */
    padding-top: 3vw; /* 반응형 간격 설정 */
  
  }
  
  .category-div {
    font-size: 1.5vw; /* 반응형 폰트 크기 설정 */
    cursor: pointer;
    text-align: center;
    width: 16.666%; /* .category 내에서 16.666% 차지하도록 설정 (6개의 div를 가로로 나열) */
    margin-right: 1%; /* 우측 마진 추가로 각 div가 조금씩 떨어져 보이도록 함 */
    background-color: gray; /* 바탕색을 회색으로 설정 */
    border-radius: 50px;
    color: white;
    font-family: 'CookieRun-Regular';
  }
  
  .category > div:last-child {
    margin-right: 0; /* 마지막 div에는 우측 마진을 적용하지 않음 */
  }
  .selected {
    background-color: orange; /* 선택된 그룹에 대한 배경색 변경 */
    color: white; /* 텍스트 색상 변경 */
  }
  .category-div.selected {
    background-color: #ffcc00; /* 선택된 카테고리의 배경색을 변경 */
    color: #ffffff; /* 텍스트 색상을 변경 */
    font-weight: bold; /* 폰트 굵기를 변경 */
    /* 필요한 다른 스타일을 추가할 수 있습니다 */
  }
  
  /* 미디어 쿼리를 사용하여 화면 크기에 따라 스타일을 조절 */
  @media (max-width: 768px) {
    .Group-div {
      font-size: 5vw; /* 작은 화면일 때 폰트 크기 조절 */
    }
  
    .category-div {
      font-size: 3vw; /* 작은 화면일 때 폰트 크기 조절 */
      padding-top: 5vw; /* 작은 화면일 때 간격 조절 */
    }
  }
  