/* Header.styles.css */
/*
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  */@font-face {
    font-family: 'TAEBAEKfont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
.header-container {
    background-color: skyblue;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*font-family: 'CookieRun-Regular'; */
    font-family: 'TAEBAEKfont';

}

.home-link {
    
    text-decoration: none;
    color: black;
    font-size: 24px;
    
    cursor: pointer;
}
.home-link-img{
    width: 150px;
    height: 80px;
}

.home-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-links-container {
    display: flex;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin: 0 10px; /* 링크 간격 추가 */
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
.nav-div {
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin: 0 10px; /* 링크 간격 추가 */
    cursor: pointer;

}

@media (max-width: 1000px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .home-link {
        font-size: 16px;
        order: 1;
        margin-bottom: 0;
        align-self: flex-start; /* 수정: 홈 링크를 왼쪽으로 정렬 */
    }

    .nav-links-container {
        flex-direction: column;
        align-items: flex-start; /* 수정: 왼쪽으로 정렬 */
        justify-content: center;
        margin-top: 10px;
        order: 3;
    }

    .nav-link {
        font-size: 16px;
        margin: 5px 0; /* 세로 정렬 간격 조정 */
    }
    .nav-div{
        font-size: 16px;
        margin: 5px 0; /* 세로 정렬 간격 조정 */
    }

    .dropdown-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end; /* 수정: 드롭다운을 화면 오른쪽으로 정렬 */
        margin-top: 10px;
        order: 2;
    }
}
