@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

.Hy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; /* 수정된 세로 정렬 */
  margin: 50px;
  width: auto;
}

.Body {
  display: flex;
  flex-wrap: wrap;
  height: 60%;
  width: auto;
  font-family: 'TheJamsil5Bold';

}

.CardContainer {
  width: calc(33.3333% - 20px);
  margin: 10px;
  text-decoration: none;
  color: black;
  height: 500px;
}

.CardStyle {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  height: 400px;
}

.CardStyle-p,
.CardStyle-h4 {
  word-wrap: break-word;
  color: black;
  text-decoration: none;
  margin: 10px;
}

.CardStyle-img {
  width: 100%;
  height: 100%;
}

/* 미디어 쿼리 추가 */
@media (max-width: 1200px) {
  .CardContainer {
    width: calc(50% - 20px);
  }

  .CardStyle {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .CardContainer {
    width: calc(100% - 20px);
  }

  .CardStyle {
    height: 200px;
  }
}
