/* Category.css */

.Hy {
  display: flex;
  flex-wrap: wrap; /* 카드들이 작아질 때 줄바꿈 처리 */
  justify-content: space-between;
  margin-bottom: 20px;
}

.Body {
  width: 80%;
  margin: 5% auto;
}

.CardContainer {
  width: 100%; /* 카드 컨테이너를 꽉 차게 설정 */
  max-width: 20rem; /* 최대 너비를 20rem으로 설정 */
  margin-bottom: 20px;
  text-decoration: none;
}

.CardStyle {
  width: 100%;
  max-width: 20rem;
  margin-right: 30px;
  border: 1px solid black;
  box-sizing: border-box; /* border를 포함한 크기 설정 */
}

.CardStyle p,
.CardStyle h4 {
  word-wrap: break-word;
  color: black;
  text-decoration: none;
  margin: 10px; /* 여백 설정 */
}

.CardStyle img {
  width: 100%;
}