




.insert-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 20px;
}

.insert-form {
  max-width: 800px;
  width: 100%;
  padding: 40px;
  margin-top: 20px;
  /* border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.insert-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.insertLabel {
  width: auto;
  margin-bottom: 10px;
  font-weight: bold;
}

.insertInput {
  width: 200%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box; /* padding을 포함한 크기 지정 */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputRadio {
  width: auto;
  margin-right: 5px;
}

.inputDate {
  width: 45%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box; /* padding을 포함한 크기 지정 */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.insertLocation2 {
  width: 275%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box; /* padding을 포함한 크기 지정 */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 47px;
}

.inputSubmit {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputSubmit:hover {
  background-color: #2980b9;
}

.radio-label input {
  margin-left: 5px;
}

@media (max-width: 600px) {
  .insert-form {
    padding: 20px;
    margin-top: 100px;
  }

  .inputSubmit {
    width: 100%;
  }

  .insertInput {
    width: 100%;
  }

  .insert-form-container {
    margin-top: 30px;
  }
  .insertLocation2 {
    width: 150%;

  }

}