/* Review.css */
.review-container {
  min-height: 74vh; /* 최소 세로 높이를 화면의 80%로 설정 */
  width: 100%; /* 가로 폭을 100%로 설정 */
  margin: 0 auto; /* 가운데 정렬을 위해 좌우 여백을 자동으로 설정 */
  padding: 20px; /* 내용과의 여백을 설정, 필요에 따라 조절 가능 */
  max-width: 800px;
  font-family: 'TheJamsil5Bold';
}



.reviews-div {
  margin-bottom: 20px;


  padding: 20px;
}

.reviews-div tr {
  margin-bottom: 10px;
}

.reviews-div-td1,
.reviews-div-td2,
.reviews-div-td3,
.reviews-div-td4 {
  padding: 5px 10px;
  border: 1px solid black;
}

.reviews-div-td1,
.reviews-div-td3 {
  font-weight: bold;
}

.pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
  
}

.ul-li {
  margin-right: 5px;
}

.ul-li-a {
  display: block;
  padding: 5px 10px;
  background-color: #f1f1f1;
  color: #333;
  text-decoration: none;
  border-radius: 3px;
}

.ul-li-a.active {
  background-color: #007bff;
  color: white;
}
.star-rating {
  unicode-bidi: bidi-override;
  color: #c5c5c5; /* 별표의 기본 색상 */
  font-size: 20px; /* 별표의 크기 */
  margin-bottom: 10px;
}

.star-rating span {
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  color: #ffc107; /* 별표의 색상 */
}

.star-rating span:before {
  content: "★"; /* 별표 모양 */
  padding-right: 5px;
}

.reviews-div-td4 .star-rating {
  color: #c5c5c5; /* 기본 색상 */
}

.reviews-div-td4 .star-rating span {
  color: #ffc107; /* 별표의 색상 */
}

.reviews-table{
  width: 700px;
}
.pagination-container {
  display: flex;
  justify-content: center;
}
.review-container-div{
  display: flex;
}
.review-container-div-button{
  height: 35px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.review-form-input {
 height: 35px;
  margin-left: 20px; /* 버튼과의 간격 조절을 위한 마진 설정 */
}
.review-form-input-submit{
  height: 35px;
  align-items: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}