/* Select.css */
/*
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.Selected {
    display: flex;
    align-items: center;
    margin: 30px auto;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
  /*  font-family: 'CookieRun-Regular';*/
    background-color: #f8f9fa;
    width: 80%;
    font-family: 'TheJamsil5Bold';

}

.Selected2 {
    height: 40px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    margin-right: 10px;
}

.Inputed {
    flex: 1;
    height: 40px;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.Inputed2 {
    background-color: #3498db;
    color: white;
    border: none;
    height: 40px;
    font-size: 18px;
  /*  font-family: 'CookieRun-Regular';*/
    cursor: pointer;
}

/* 600px 이하일 때의 반응형 스타일 */
@media (max-width: 600px) {
    .Selected {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .Selected2 {
        margin-bottom: 10px;
    }

    .Inputed {
        width: 100%;
    }
}
