/* styles.css */
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
.Selected {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 40px; /* 높이 조절 */
    font-family: 'CookieRun-Regular';
}
.Selected2 {
    height: 40px;
}
.Inputed {
    width: 500px;
    display: flex;
    height: 40px;
}

.Inputed2 {
    background-color: paleturquoise;
    color: black;
    border: none;
    height: 40px; /* 높이 조절 */
    font-size: 24px;
}

/* 600px 이하일 때의 반응형 스타일 */
@media (max-width: 600px) {
    .Selected {
        /* 원하는 반응형 스타일 추가 */
        height: 30px; /* 예시: 높이를 20px로 조절 */
    }

    .Inputed {
        /* 원하는 반응형 스타일 추가 */
        width: 100%; /* 예시: 너비를 100%로 조절 */
    }

    .Inputed2 {
        /* 원하는 반응형 스타일 추가 */
        height: 40px; /* 예시: 높이를 20px로 조절 */
    }
}
