

/* JoinForm.styles.css */
.container{
  margin-top: 30px;
}

h2, h3{
    text-align: center;
}

.textForm input {
    height: 38px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

/* Button styling */
.textForm button {
    height: 38px;
    margin-left: 30px;
    font-size: 16px;
}
span{
    text-align: center;
    border: 1px solid black;
    border-radius: 0, 0, 20px, 20px;
}
.frspan{
    align-items: center;
}

.scrollable-box {
  width: 100%;
	max-height: 300px;
	margin: auto;
	overflow-y: scroll;
	background: #f1f1f1;
	border: 1px solid #ddd;
	padding: 10px;
}

li{
  list-style-type: none;
}
.signup-form-container {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 16px;
  border: 1px solid #ccc;
}

.input-cell {
  display: flex;
  align-items: center;
}

input {
  padding: 12px;
  margin-right: 8px;
}

button {
  padding: 12px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

select {
  padding: 13px;
  margin-right: 7px;
}
.submit{
  margin-right: 0;
}
.modal {
    display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
    text-align: center;
}

.close-btn {
    color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover, .close-btn:focus {
    color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-footer {
    text-align: right;
}

input[type="password"]{
  padding: 10px;
  font-size: 16px;
}