

/* JoinForm.styles.css */
.container{
  margin-top: 30px;
  font-family: 'TheJamsil5Bold';
}

.tl{ /*h3*/
    text-align: center;
}

.textForm .fin {
    height: 38px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

/* Button styling */
.textForm button {
    height: 38px;
    margin-left: 30px;
    font-size: 16px;
}
.tlqkf{ /*span*/
    text-align: center;
    border: 1px solid black;
    border-radius: 0, 0, 20px, 20px;
}

.scrollable-box {
  width: 100%;
	max-height: 300px;
	margin: auto;
	overflow-y: scroll;
	background: #f1f1f1;
	border: 1px solid #ddd;
	padding: 10px;
}

.fli{
  list-style-type: none;
}
.signup-form-container {
  margin: 20px;
}

.fta {
  width: 100%;
  border-collapse: collapse;
}

.firtd {
  padding: 16px;
  border: 1px solid #ccc;
}

.fin-cell {
  display: flex;
  align-items: center;
}

.fin {
  padding: 12px;
  margin-right: 8px;
}

.agree, .checkId, .agreeModal, .cancelModal, .password, .submit{
  padding: 15px;
  cursor: pointer;
}

.agree{
  float: left;
}

.agreeModal{
  float: center;
}


button:disabled {
  cursor: not-allowed;
}

.fse { /* select*/
  padding: 13px;
  margin-right: 7px;
}

.modal {
  display: flex;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

.close-btn {
    color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover, .close-btn:focus {
    color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-footer {
    text-align: right;
}
/* Button Styles */
.submit,
.checkId {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    transition-duration: 0.4s; /* Transition duration */
    cursor: pointer; /* Cursor pointer */
    border-radius: 8px; /* Rounded corners */
}

.submit:hover,
.checkId:hover {
    background-color: #45a049; /* Darker green background on hover */
    color: white; /* White text on hover */
}


.br {
  margin-bottom: 100px;
}